.Characters {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  place-items: center;
}
.Characters-container {
  background: #18522a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px #0e3a1c;
}
.Characters-container img {
  width: auto;
}
.Characters-description {
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
  text-align: center;
}
.Characters-description h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 3rem;
  color: #719b10;
  text-align: center;
  border-bottom: 1px solid #719b10;
}
.Characters-description p {
  margin-top: 6px;
  font-size: 2rem;
  color: #719b10;
  font-weight: bold;
}
